<?xml version="1.0"?>
<configuration>

    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Christoc.Modules.SFContact.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <Christoc.Modules.SFContact.Properties.Settings>
            <setting name="SFContact_com_salesforce_ap2_SforceService" serializeAs="String">
                <value>https://login.salesforce.com/services/Soap/c/34.0</value>
            </setting>
        </Christoc.Modules.SFContact.Properties.Settings>
    </applicationSettings>
</configuration>
