<div data-ng-repeat="p in params">
    <div data-ng-switch="p.Type">

        <div class="form-group" data-ng-switch-when="Boolean">
            <div class="col-sm-8 col-sm-offset-2">
                <label class="checkbox-inline">
                    <input type="checkbox" data-ng-model="itemParameters[p.Id]" />
                    {{localize(p.Title)}}
                    <p class="text-muted help p-checkbox-spacing-fix" style="clear: both;" data-dynamic="p.HelpText"></p>
                </label>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="Code">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <textarea rows="8" class="form-control code" data-ng-model="itemParameters[p.Id]"></textarea>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="Textarea">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <textarea rows="8" class="form-control" data-ng-model="itemParameters[p.Id]"></textarea>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="Date">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div class="input-append">
                    <input type="text" class="form-control text" data-date-format="dd/mm/yyyy" data-bs-datepicker="" data-ng-model="itemParameters[p.Id]" style="width: 90px" />
                    <button type="button" class="btn" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="Time">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div class="form-group input-append" style="margin-left: 10px;">
                    <input type="text" data-ng-model="itemParameters[p.Id]" data-bs-timepicker="" style="width: 80px;">
                    <button type="button" class="btn" data-toggle="timepicker"><i class="glyphicon glyphicon-time"></i></button>
                </div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="DateTime">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div class="input-group pull-left">
                    <input type="text" class="form-control text" data-date-format="dd/mm/yyyy" data-bs-datepicker="" data-ng-model="itemParameters[p.Id].Date" style="width: 120px" />
                    <button type="button" class="btn" data-toggle="datepicker"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
                <div class="input-group pull-left" style="margin-left: 10px;">
                    <input type="text" class="form-control text" data-ng-model="itemParameters[p.Id].Time" data-bs-timepicker="" style="width: 120px;">
                    <button type="button" class="btn" data-toggle="timepicker"><i class="glyphicon glyphicon-time"></i></button>
                </div>
                <div class="clearfix"></div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="Interval">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div class="pull-left" style="width: 80px;">
                    <input type="text" class="form-control text" data-ng-model="itemParameters[p.Id].Qty" />
                </div>
                <div data-ctl-datasource="p" data-updatemodel="itemParameters[p.Id].Unit" class="pull-left" style="width: 120px; margin-left: 10px;">
                    <select class="form-control" data-ng-model="model" data-ng-options="c.Value as c.Text for c in items">
                        <option value="">--</option>
                    </select>
                </div>
                <div class="clearfix"></div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="RichText">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <button type="button" class="btn btn-sm btn-default" data-ng-click="appendData(item, p.Id)">Append All Fields</button>
                <div text-angular="text-angular" data-ta-unsafe-sanitizer="true" data-ng-model="itemParameters[p.Id]"></div>
                <!--<textarea rows="12" class="form-control richtext" data-ng-model="itemParameters[p.Id]" data-ui-tinymce="tinymceOptions"></textarea>-->
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <!-- The source is specified in 'Settings/DataSource' or in place if 'Settings/Items' is used -->
        <div class="form-group" data-ng-switch-when="Select">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10" data-pname="{{p.Id}}">
              
                <div data-ng-if="p.Settings['SupportsExpressions'] == 'true'">
  
                    <div class="input-group">
                        <div data-ctl-datasource="p" data-updatemodel="itemParameters[p.Id]" data-ng-show="!itemParameters[p.Id].IsExpression" data-params="itemParameters">
                            <!--<select class="form-control" data-ng-model="model" data-ng-options="c.Value as c.Text for c in items">
                                <option value="">--</option>
                            </select>-->
                            <select class="form-control" data-ng-model="selectedSource" data-ng-options="c as c.Text for c in items"
                                    data-ng-change="model.Value = selectedSource.Value">
                                <option value="">--</option>
                            </select>
                        </div>
                        <input type="text" class="form-control text expression"
                               data-ng-model="itemParameters[p.Id].Expression"
                               data-ng-show="itemParameters[p.Id].IsExpression" />
                        <span class="btn-group input-group-btn" data-toggle="buttons">
                            <label class="btn btn-default btn-xs" data-ng-class="{ 'btn-success': itemParameters[p.Id].IsExpression }" title="Switch to an expression to use My Tokens or values based on other fields." 
                                   data-ng-click="itemParameters[p.Id].IsExpression = !itemParameters[p.Id].IsExpression">
                                <input type="checkbox" />
                                Expr
                            </label>
                        </span>
                    </div>
                </div>
                <div data-ng-if="p.Settings['SupportsExpressions'] != 'true'">
                   
                    <div data-ctl-datasource="p" data-updatemodel="itemParameters[p.Id]" data-params="itemParameters">
                        <select class="form-control" data-ng-model="selectedSource" data-ng-options="c as c.Text for c in items" data-ng-change="model.Value = selectedSource.Value">
                            <option value="">--</option>
                        </select>
                        <div data-dnnsf-calldirective=""
                             data-pass-dnnsf-params="selectedSource.Parameters"
                             data-pass-dnnsf-item="model"
                             data-pass-dnnsf-fields="fields"
                             style="margin-top: 22px;">
                        </div>
                    </div>
                </div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <!-- CheckboxList: very much like the previous Select -->
        <div class="form-group" data-ng-switch-when="CheckboxList">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div data-ng-model="item" data-ctl-datasource="p" data-updatemodel="itemParameters[p.Id]">
                    <button type="button" class="btn btn-default btn-sm" data-toggle="button" data-ng-repeat="c in items" data-ng-model="model[c.Value]" data-dnnsf-checkbox="" data-bs-init="true" style="margin-right: 4px;">{{c.Text}}</button>
                </div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="RadioList">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div data-ng-model="itemParameters[p.Id]" data-ng-options="o for o in p.Settings['Items']" data-dnnsf-radiogroup="">
                </div>
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="FilePicker">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <div data-dnnsf-filepicker="" data-ng-model="itemParameters[p.Id]" data-dnnsf-pickermode="{{p.Settings['Mode']}}"></div>
                <!--<select class="form-control" data-ng-model="itemParameters[p.Id]" data-ng-options="c.BoundName as c.Title for c in fields | filter:byType(p.Settings['FieldType'],c) | filter:exceptItem(item.BoundName)">
                    <option value="">--</option>
                </select>-->
            </div>
            <div class="col-sm-10 col-sm-offset-2">
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="FieldSelect">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-5">
                
                <div data-ng-if="p.Settings['SupportsExpressions'] == 'true'">

                    <div class="input-group">
                        
                        <select class="form-control"
                                data-ng-model="itemParameters[p.Id].Value"
                                data-ng-options="c.BoundName as c.BoundName for c in fields | filter:byType(p.Settings['FieldType'],c) | filter:exceptItem(item.BoundName)"
                                data-ng-show="!itemParameters[p.Id].IsExpression">
                            <option value="">--</option>
                        </select>
                        
                        <input type="text" class="form-control text expression"
                               data-ng-model="itemParameters[p.Id].Expression"
                               data-ng-show="itemParameters[p.Id].IsExpression" />
                        <span class="btn-group input-group-btn" data-toggle="buttons">
                            <label class="btn btn-default btn-xs" data-ng-class="{ 'btn-success': itemParameters[p.Id].IsExpression }" title="Switch to an expression to use My Tokens or values based on other fields."
                                   data-ng-click="itemParameters[p.Id].IsExpression = !itemParameters[p.Id].IsExpression">
                                <input type="checkbox" />
                                Expr
                            </label>
                        </span>
                    </div>
                </div>

                <div data-ng-if="p.Settings['SupportsExpressions'] != 'true'">

                    <div data-dnnsf-field-select=""
                         data-ng-model="itemParameters[p.Id].Value"
                         data-fields="fields"
                         data-filter-type="p.Settings['FieldType']"
                         data-current-item="item"></div>

                    <!--<select class="form-control" data-ng-model="itemParameters[p.Id]" data-ng-options="c.BoundName as c.BoundName for c in fields | filter:byType(p.Settings['FieldType'],c) | filter:exceptItem(item.BoundName)">
                        <option value="">--</option>
                    </select>-->
                </div>

            </div>
            <div class="col-sm-10 col-sm-offset-2">
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <!-- Like previous but capable of generating a list of FieldSelect -->
        <div class="form-group" data-ng-switch-when="MultipleFieldSelect">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <p class="text-muted help" data-dynamic="p.HelpText" style="margin: 8px 0;"></p>
                <div class="controls row" data-ng-repeat="savedValue in itemParameters[p.Id]">
                    <div class="col-sm-6" style="margin-bottom: 3px;">
                        <select class="form-control" data-ng-model="itemParameters[p.Id][$index]" data-ng-options="c.BoundName as c.BoundName for c in fields | filter:byType(p.Settings['FieldType']) | filter:notInArray(itemParameters[p.Id], $index) | filter:notParentButton(item)">
                            <option value="">--</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-link" type="button" data-ng-click="itemParameters[p.Id].splice($index, 1)"><i class="glyphicon glyphicon-trash"></i></button>
                    </div>
                </div>
                <div class="">
                    <button class="btn btn-link" type="button" data-ng-click="itemParameters[p.Id].push({})">Add</button>
                </div>
            </div>
        </div>

        <!-- span4 used here because "Form Events" \ "On Init" && "On Validation Failed" limit the available space even more -->
        <div class="form-group" data-ng-switch-when="NameValueCollection">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
            <div class="col-sm-10 col-sm-offset-2" style="padding-top: 10px;">
                <div class="row" data-ng-show="itemParameters[p.Id] && itemParameters[p.Id].length && p.Settings['NameColumn']">
                    <label class="col-sm-4 control-label" style="text-align: left;">{{p.Settings['NameColumn']}}</label>
                    <label class="col-sm-4 control-label" style="text-align: left;">{{p.Settings['ValueColumn']}}</label>
                </div>

                <div data-ng-repeat="nameValue in itemParameters[p.Id]" class="row" style="margin-bottom: 3px;">
                    <div class="col-sm-4">
                        <span class="control-label" data-ng-show="!p.Settings['NameColumn']">Name: </span>
                        <input type="text" class="form-control text" data-ng-model="nameValue.name" />
                    </div>
                    <div class="col-sm-6">
                        <span class="control-label" data-ng-show="!p.Settings['NameColumn']">Value: </span>
                        <input type="text" class="form-control text" data-ng-model="nameValue.value" />
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-link" type="button" data-ng-click="itemParameters[p.Id].splice($index, 1)"><i class="glyphicon glyphicon-trash"></i></button>
                    </div>
                </div>

                <button class="btn btn-info btn-sm" type="button" data-ng-click="itemParameters[p.Id] = itemParameters[p.Id] || []; itemParameters[p.Id].push({});" style="margin-top: 6px;">
                    <span data-ng-show="!p.Settings['ButtonName']">New Parameter</span>
                    <span data-ng-show="p.Settings['ButtonName']">{{p.Settings['ButtonName']}}</span>
                </button>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="Grid">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
            <div class="col-sm-10 col-sm-offset-2" style="padding-top: 10px;">
                <div class="row" data-ng-show="itemParameters[p.Id] && itemParameters[p.Id].length && p.Settings['NameColumn']">
                    <label class="col-sm-4 control-label" style="text-align: left;">{{p.Settings['NameColumn']}}</label>
                    <label class="col-sm-4 control-label" style="text-align: left;">{{p.Settings['ValueColumn']}}</label>
                </div>
                <div data-ng-repeat="nameValue in itemParameters[p.Id]" class="row" style="margin-bottom: 3px;">
                    <div data-ng-repeat="subParameter in p.Parameters" class="row" style="margin-bottom: 3px;">
                        <!--<div class="{{ p.Settings['NameColumn'].Parameters[name].Settings['ColSize'] }}" data-ng-include="'static/dnnsf/tpl/parameter.html?v=' + sharedData.resourceVersion">

                        </div>-->
                    </div>
                    <button class="btn btn-link" type="button" data-ng-click="itemParameters[p.Id].Parameters[name].splice($index, 1)"><i class="glyphicon glyphicon-trash"></i></button>
                </div>

                <button class="btn btn-info btn-sm" type="button" data-ng-click="itemParameters[p.Id] = itemParameters[p.Id] || []; itemParameters[p.Id].push({})" style="margin-top: 6px;">
                    <span data-ng-show="!p.Settings['ButtonName']">New Parameter</span>
                    <span data-ng-show="p.Settings['ButtonName']">{{p.Settings['ButtonName']}}</span>
                </button>
            </div>
        </div>


        <div class="form-group" data-ng-switch-when="Number">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control number" data-ng-model="itemParameters[p.Id]" />
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="URL">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control url" data-ng-model="itemParameters[p.Id]" />
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="ActionList">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
                <div class="event-root" data-ng-controller="EventCtrl" data-ng-init="init(p.Settings['Event'], null, item, itemParameters[p.Id])">
                    
                    <div data-dnnsf-calldirective=""
                         data-pass-dnnsf-actions="actions"
                         data-pass-dnnsf-defs="actionDefs"
                         data-pass-dnnsf-defgroups="actionDefGroups"
                         data-pass-event-name="eventName"
                         data-pass-dnnsf-fields="fields">
                    </div>

                </div>
            </div>
        </div>

        <div class="form-group" data-ng-switch-when="Password">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" data-ng-model="itemParameters[p.Id]" />
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>

        <div class="form-group" data-ng-switch-default="">
            <label class="col-sm-2 control-label">{{localize(p.Title)}}</label>
            <div class="col-sm-10">
                <input type="text" class="form-control text" data-ng-model="itemParameters[p.Id]" />
                <p class="text-muted help" data-dynamic="p.HelpText"></p>
            </div>
        </div>
    </div>
</div>
